<header>
  <nav>
    <%= image_tag("rmitlogo.JPG", :alt => "rmit logo", style: 'height:20%;width:20%') %>

    <div class="navlinks">
      <%= link_to "Home", root_path, class: "logo" %>
      <%= link_to "comments", newcomments_path %>

      <% unless logged_in? %>
        <%= link_to "login", new_user_path %>
        
      <% end %>

      <% if logged_in? %>
        <%= link_to "Submit a news", new_link_path %>
        <%= link_to "logout", sessions_path, method: :delete %>
      <% end %>
    </div>
  </nav>
</header>